.quizzes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px 140px;
}
.quizzes img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(157, 156, 156);
}
.more-topics{
    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-weight: 900;
    margin-bottom: 30px;
}
.more-topics:hover{
    background-color: orangered;
}