.quiz{
    border: 2px solid orange;
    border-radius: 20px;
    padding: 20px 0;
}
.quiz a{
    text-decoration: none;
    color: white;

}
.quiz-info{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
}
.quiz-info p{
    font-weight: bold;
}
.quiz-info button{
    color: white;
    background-color: rgb(243, 174, 47);
    border-radius: 10px;
    padding: 10px 10px;
    border: 2px solid orangered;
    display: flex;
    align-items: center;
}
.quiz-info button:hover{
    background-color: orangered;
}
.quiz-info button .icon{
    width: 15px;
    margin-left: 2px;
}

/* for mobile devices */
@media only screen and (max-width: 688px){
    .quiz{
        padding: 2px 2px;
    } 
    .quiz-info{
        display: block;
        justify-content: center;
        margin: 10px 30px;
     }
     .quiz-info button{
        width: 100%;
        text-align: center;
     }
}