.home-info{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.home-info img{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    margin-right: 20px;
}
.home-info p{
    font-weight: 900;
    font-family: sans-serif;
}