.perQuestion{
    border: 2px solid orange;
    border-radius: 15px;
    margin: 20px 100px;
    padding: 15px;
}
.per-question-info{
    display: flex;
    justify-content: space-evenly;
}
.per-question-info p{
    margin-left: 80px;
}
.eye-btn{
    background-color: white;
    border: none;
}
.eye-btn:hover .eye-icon{
    color: orange;
    cursor: pointer;
}
.eye-icon{
    width: 20px;
}

/* For mobile devices */
@media only screen and (max-width: 688px){
    .perQuestion{
        margin: 20px 5px;
    }
    .per-question-info p{
        margin-left: 0;
    }
}